* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

.btnHeader {
    color: blueviolet;
    background: white;
    border: 0;
}

#quiz-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin: 10%;
}

#stuff-container {
    width: 100%;
}

#quizQuestions {
    font-size: 35px;
    font-style: bold;
}
.answersBtns {
    display: flex;
    flex-direction: column;
}

.btn {
    background: #441466;
    color:white;
    border-radius: 5px;
}

.btn:hover{
    background-color: #bd5adb;
}
